<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Entre em contato</h1>
        <div class="row my-4">
            <div class="col-6">
                <div class="form-floating">Whatsapp</div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">Instagram</div>
        </div>
        <div class="row my-4">
            <div class="col-6">
                <div class="form-floating">Facebook</div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating"></div>
        </div>
        
        


    </div>
</div>